.player {
    display: flex;
    align-items: center;
    background-color: #3f51b5d3;
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 100%
    }

    span {
        font-size: 32px;
        margin-left: 16px;
        color: white;
    }
}

.activePlayer {
    background-color: rgb(255, 102, 0);
    animation: colorchange 7s infinite;
}

@keyframes colorchange {
    from {
        // background-color: #3f51b56b;
        background-color: #3f51b58a;
    }

    to {
        background-color: rgb(255, 102, 0);
    }
}