.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}

.btn-info {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #ff6300;
    z-index: 1;

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
}

.material-icons {
    font-size: 42px;
    font-weight: 700;
}

.mat-icon {
    height: 52px;
    width: 56px;
    margin-top: -16px;
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0 0 0 / 35%);
    height: 100vh;

    h1 {
        color: white;
        font-size: 120px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 82px;

        @media (max-width: 850px) {
            font-size: 84px;
        }

        @media (max-width: 600px) {
            font-size: 54px;
        }

        @media (max-width: 400px) {
            font-size: 40px;
        }
    }

    button {
        font-size: 52px;
        font-weight: 600;
        color: white;
        background: radial-gradient(#EC9F05, #FF4E00);
        padding: 16px;
        border-radius: 50px;
        border: 5px solid white;
        position: relative;

        &:hover {
            cursor: pointer;
            filter: brightness(1.2);
        }

        @media (max-width: 850px) {
            font-size: 38px;
        }

        @media (max-width: 600px) {
            font-size: 28px;
        }

        @media (max-width: 400px) {
            font-size: 24px;
        }
    }
}

.fire {
    text-align: center;
    color: rgb(255, 115, 0);
    font-size: 10vw;
    outline: none;
    text-shadow:
        0 0 20px crimson,
        0 0 20px crimson,
        0 0 10px crimson,
        5px -10px 10px orange,
        -5px -10px 10px yellow;
    animation: 2s flame infinite alternate linear;
}

.btn-animation {
    animation: btnBurn 1000ms ease-out forwards;

    &::before {
        content: '';
        position: absolute;
        left: 40px;
        width: 100px;
        height: 40px;
        border-radius: 100%;
        animation: btnFlare 1000ms ease-out forwards;
    }

    &::after {
        content: '';
        position: absolute;
        right: 40px;
        width: 100px;
        height: 40px;
        border-radius: 100%;
        animation: flare 1000ms ease-out forwards;
    }
}

.start-game-box {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes flame {
    0% {
        text-shadow: 0 10px 20px crimson, 0 0 20px red,
            0 0 10px orange,
            0 0 10px darkorange,
            -5px -5px 5px yellow,
            10px -10px 10px yellow;
    }

    25% {
        text-shadow: 0 10px 20px crimson, 0 0 20px red,
            0 0 20px orange,
            -5px -5px 5px yellow,
            5px -10px 10px yellow,
            -5px -10px 10px yellow;
    }

    50% {
        text-shadow: 0 10px 20px crimson, 0 0 20px red,
            0 0 10px orange,
            0 0 10px darkorange,
            -5px -5px 5px yellow,
            10px -10px 10px yellow;
    }

    75% {
        text-shadow: 0 10px 20px crimson, 0 0 20px red,
            0 0 20px orange,
            -5px -5px 5px yellow,
            5px -10px 10px yellow,
            -5px -10px 10px yellow;
    }

    100% {
        text-shadow: 0 10px 20px crimson, 0 0 20px red,
            0 0 10px orange,
            0 0 10px darkorange,
            -5px -5px 5px yellow,
            10px -10px 10px yellow;
    }
}

@keyframes btnFlare {
    100% {
        transform: translateY(-20px) scale(1.5);
        filter: blur(10px);
        opacity: 0;
    }
}

@keyframes btnBurn {
    0% {
        color: rgba(255, 130, 110, 1);
        box-shadow:
            0 0 5px 0 rgba(200, 0, 10, 1),
            0 0 5px 0 rgba(230, 30, 10, 0.8),
            0 0 5px 0 rgba(230, 230, 10, 0.6);
    }

    100% {
        color: rgb(189, 7, 7);
        box-shadow:
            0px -35px 40px 30px rgba(255, 130, 10, 0),
            0 -30px 30px 10px rgba(230, 30, 10, 0),
            0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
}


/* SVG FIRE */
.mo-fire {
    display: block !important;
    position: absolute;
    margin-left: 90px;
    margin-bottom: 24px;
    max-width: 450px;

    @media (max-width: 850px) {
        max-width: 350px;
    }

    @media (max-width: 600px) {
        max-width: 270px;
    }

    @media (max-width: 400px) {
        max-width: 230px;
        margin-bottom: 18px;
        margin-left: 80px;
    }

    @media (max-width: 310px) {
        width: 220px;
        margin-bottom: 18px;
        margin-left: 80px;
    }
}

#svg-view {
    width: 252px;
    height: 125px;
    left: 0px;

    @media (max-width: 310px) {
        height: 110px;
        width: 220px;
    }
}

.mo-fire svg {
    width: 100%;
    height: auto;
    position: relative;
    right: 40px;
}

.flame {
    animation-name: flameDisappear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.5;
    transform-origin: 45% 45% 0;
}

.flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
}

.flame.two {
    animation-duration: 5s;
    animation-delay: 1s;
}


.flame-main {
    animation-name: flameMovement;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.flame-main.one {
    animation-duration: 2.2s;
    animation-delay: 1s;
}

.flame-main.two {
    animation-duration: 2s;
    animation-delay: 1s;
}

.flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s;
}

.flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s;
}

.flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s;
}

@keyframes flameMovement {
    50% {
        transform: scale(0.98, 1.0) translate(0, 2px) rotate(-1deg);
    }
}

@keyframes flameDisappear {
    0% {
        transform: translate(0) rotate(180deg);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-10px, -40px) rotate(180deg);
        opacity: 0;
    }
}