.start-screen {
    // background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
        font-size: 52px;
        font-weight: 600;
    }

    img {
        width: 30vw;
        height: auto;

        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}