<div class="player-container">
    <app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 24 + i * 50}"
        [activePlayer]="i == game.currentPlayer" [name]="player" class="player-position"></app-player>
</div>

<div class="home-btn">
    <a routerLink="/"><img src="assets/img/home.png"></a>
</div>

<div class="game-container">
    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px;" src="assets/img/cards/card_cover.png">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png">

        <!-- Current card animation -->
        <img (click)="takeCard()" *ngIf="game.takeCardAnimation" class="take-card" style="right: 25px;"
            src="assets/img/cards/{{ game.currentCard }}.png">
    </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>

<div class="endVideo" [class.showEndScreen]="game.endGame">
    <h2>Good job! <br> <br> Game is over!</h2>
    <video loop autoplay src="assets/video/end.mp4"></video>
</div>